@font-face {
    font-family: montserratlight;
    src: url(fonts/montserrat-light-webfont.woff2) format('woff2'), url(fonts/montserrat-light-webfont.html) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserratsemi_bold;
    src: url(fonts/montserrat-semibold-webfont.woff2) format('woff2'), url(fonts/montserrat-semibold-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal
}


.contact-part{width:100%; padding:0px; margin:0px; float:left;}
.contact-part-left{ width:420px; min-height:755px; box-sizing:border-box; position:relative; background:#f7f8f9; float:left; padding-top:60px; padding-bottom:57px;}
.contact-part-left:before{ width:300%; height:100%; background:#f7f8f9; left:-300%; top:0; position:absolute; content:""; display:block;}
.contact-part-left:after{background:url(../images/add-after.png) right top no-repeat; width:117px; height:755px; right:-117px; top:0; position:absolute; display:block; content:"";}
.contact-part-right{ width:445px; position:relative; float:right; margin-right:135px; }

.contact-part-right .have-form-field{width:445px; float:left; margin-top:20px; padding-bottom:0px;}
.contact-part-right .have-form-field-raw-inr input { background:#fff;  border: 1px solid #d5d6d6;  box-sizing: border-box;  color: #323e49; font: 14px/20px proxima_nova_rgregular;  padding: 14px 10px 14px 25px;  width:100%; border-radius:3px; }
.have-form-field-raw textarea { background:#fff;  border: 1px solid #d5d6d6;  color: #323e49;  font: 14px/20px proxima_nova_rgregular;
    height: 100px;  margin-left:0px;  padding: 20px 10px 20px 25px;  resize: none;  width:100%; box-sizing: border-box; border-radius:3px;}
.have-form-field-raw textarea:focus{background:none!important;}	
.contact-part-right .have-form-field-raw-inr{margin:0 0 7px 0; width:100%; height:auto}
.contact-part-right .have-form-field-raw-inr.half { width: 218px;}
.contact-part-right .have-form-field-raw-inr.half:nth-child(2n){float:right;}

.contact-part-right .have-form-field-raw-inr input::-webkit-input-placeholder{color:#323e49;opacity:1!important}
.contact-part-right .have-form-field-raw-inr input:-moz-placeholder{color:#323e49}
.contact-part-right .have-form-field-raw-inr input::-moz-placeholder{color:#323e49}
.contact-part-right .have-form-field-raw-inr input:-ms-input-placeholder{color:#323e49}
.contact-part-right .have-form-field-raw textarea::-webkit-input-placeholder{color:#323e49;opacity:1!important}
.contact-part-right .have-form-field-raw textarea:-moz-placeholder{color:#323e49}
.contact-part-right .have-form-field-raw textarea::-moz-placeholder{color:#323e49}
.contact-part-right .have-form-field-raw textarea:-ms-input-placeholder{color:#323e49}
.contact-part-right .have-form-field-raw-inr input[type="submit"] { background:#74b831; color:#fff; font:16px/20px clanotmedium; padding:20px 10px 20px 25px; box-sizing:border-box}
.contact-part-right .captha-box { float: left; height:auto;  margin:0px 0 7px 0;  padding: 0;  width: 150px;}
.contact-part-right h2{font:41px/51px montserratsemi_bold; color:#039cdf; padding-top:35px;}
.contact-part-right h4{font:15px/20px montserratlight; color:#323e49; padding-top:6px; padding-right:40px;}
.address-box{margin-left:60px; padding-top:20px; width:280px; padding-bottom:20px; border-bottom:1px solid #dbdcdd;}
.address-box:nth-child(6){border-bottom:none;}
.address-box.show-acco { display: none;}
.address-box h2 { color: #0088c5; font: 22px/29px montserratsemi_bold;  padding-bottom:0px; text-transform: uppercase;}
.address-box h2 img{margin-right:11px;}
.address-box h3 { color: #323e49; font: 16px/25px montserratsemi_bold; padding-bottom:0px; text-transform: uppercase;}
.address-box h3 img{margin-right:15px; float:left}
.address-box ul {list-style-type: none; margin-left:49px;}
.address-box ul li {color: #323e49; font: 16px/26px montserratlight; padding-bottom:5px; }
.address-box ul li span{color: #0088c5; font:18px/26px montserratsemi_bold; padding-bottom:0px; text-transform: uppercase;}
.address-box ul li img {padding-right: 8px; margin-top:7px; vertical-align: middle; float:left}

.call-expand{display:none;}
.call-expand a{ width:100%; margin:25px auto; background: #74b831; box-sizing: border-box; color: #fff; font: 16px/20px clanotmedium;
    padding: 20px 10px 20px 25px; border-radius:4px; float:left; text-align:center; text-transform:uppercase; }
	
	
	
.custom-file-upload-hidden { display: none; visibility: hidden;  position: absolute;  left: -9999px;}
.custom-file-upload {border: 1px solid #ccc; border-radius: 3px; display: block; float: left; font-size: 16px; margin-top: 0; width: 100%;
}
.custom-file-upload label {display: block;   margin-bottom: 5px;  }
.file-upload-input {  color:#fff; font-size: 16px; padding: 11px 17px; padding-left:24px!important;  border: none!important; width:120px!important}

.file-upload-button { cursor: pointer;  display: inline-block;  color: #fff; margin-left:13px;  text-transform:capitalize; padding:10px 16px; 
    border: none;  background:#bdbfc2; border-radius:5px; font-size:14px; }	
	
	
@media screen and (max-width: 1200px){
.contact-part-right{margin-right:15px;}	
}


@media screen and (max-width: 1060px){
.contact-part-right{margin-right:0px; width:420px;}
.contact-part-right .have-form-field{width:100%;}
.contact-part-right h2{font-size:45px;}
.contact-part-right .have-form-field-raw-inr.half{width:100%;}	
.file-upload-button{float:right; margin-top:5px; margin-right:10px;}
.file-upload-input{width:75%!important;}
.contact-part-left{padding-bottom:102px;}
}


@media screen and (max-width: 1024px){
.contact-part-left{width:350px; }
.address-box{margin-left:30px;}	
.file-upload-input{width:70%!important;}
}
	
	
@media screen and (max-width:960px){
	
.contact-part-right{margin-right:0px; width:370px;}	
.contact-part-right h2{font-size:38px; line-height:46px;}

}

@media screen and (max-width:900px){
.contact-part-left:after{display:none;}
.contact-part-right, .contact-part-left{width:48%;}
.file-upload-input{width:70%!important;}
.address-box{margin-left:20px;}
.have-form-field-raw{padding-bottom:0px; } 
.contact-part-right h4{font-size:13px;}
}


@media screen and (max-width:767px){
.contact-part-right, .contact-part-left{width:49%;}	
.contact-part-right h2{font-size:35px; line-height:42px;}	
.contact-part-left{padding-top:21px;}
.contact-part-right h4{font-size:13px; line-height:17px;}
.address-box{margin-left:0px;}	
.file-upload-input{width:65%!important;}
}

@media screen and (max-width:667px){
	
.contact-part-right, .contact-part-left{width:100%; float:left;}	
.address-box.show-acco{display:block;}
.address-box.hide-acco{display:none;}	
.address-box{width:98%; padding-bottom:15px;}
.address-box h3{width:100%; position:relative; float:left; cursor:pointer; transition:all 0.6s ease-in-out 0s;}
.accordion::after {background:url("../images/accordian-plus.png") no-repeat right top; color: #777; content: "";
 display: block; float: right; position:absolute; right:20px; top:7px; font-size: 13px; height: 12px; margin-left: 5px; width: 12px; }
	.contact-part-left{min-height:inherit; padding-bottom:20px;}
.accordion.active::after {background:url("../images/accordian-remove.png") no-repeat right top; content: ""; display: block;
    height: 4px; width: 12px; position:absolute; right:20px; top:10px; }	
.address-box ul{ max-height: 0; opacity: 0;  overflow: hidden;  padding: 3px 18px;  transition: all 0.6s ease-in-out 0s;}
.address-box ul.show { max-height: 500px;  opacity: 1;}
.contact-part-left{padding-top:10px;}
.contact-part-right{display:none; transition: all 0.6s ease-in-out 0s; text-align:center}
.contact-part-right h2{padding-top:0px;}
.contact-part-right h4{padding-right:0px;}
.call-expand{display:block;}
.file-upload-input{width:60%!important; float:left;}
}

@media screen and (max-width:480px){
.contact-part-right h2{font-size:30px;}
.contact-part-right h4{font-size:15px; line-height:23px;}
}