@charset "UTF-8";
/* Modules and Variables
 */
@font-face {
  font-family: "sc_fontello";
  src: url("entypo/fontello.eot");
  src: url("entypo/fontellod41d.eot?#iefix") format("embedded-opentype"), url("entypo/fontello.woff") format("woff"), url("entypo/fontello.ttf") format("truetype"), url("entypo/fontello.svg#sc_fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
[class="sc-icon-"] > span:before,
[class*=" sc-icon-"] > span:before {
  font-family: "sc_fontello";
  font-size: 18px;
  cursor: move; }

.sc-icon-note > span:before {
  content: "\e918"; }

/* '' */
.sc-icon-logo-db > span:before {
  content: "\e801"; }

/* '' */
.sc-icon-music > span:before {
  content: "\e802"; }

/* '' */
.sc-icon-search > span:before {
  content: "\e803"; }

/* '' */
.sc-icon-flashlight > span:before {
  content: "\e804"; }

/* '' */
.sc-icon-mail > span:before {
  content: "\e805"; }

/* '' */
.sc-icon-heart > span:before {
  content: "\e806"; }

/* '' */
.sc-icon-heart-empty > span:before {
  content: "\e807"; }

/* '' */
.sc-icon-star > span:before {
  content: "\e808"; }

/* '' */
.sc-icon-star-empty > span:before {
  content: "\e809"; }

/* '' */
.sc-icon-user > span:before {
  content: "\e80a"; }

/* '' */
.sc-icon-users > span:before {
  content: "\e80b"; }

/* '' */
.sc-icon-user-add > span:before {
  content: "\e80c"; }

/* '' */
.sc-icon-video > span:before {
  content: "\e80d"; }

/* '' */
.sc-icon-picture > span:before {
  content: "\e80e"; }

/* '' */
.sc-icon-camera > span:before {
  content: "\e80f"; }

/* '' */
.sc-icon-layout > span:before {
  content: "\e810"; }

/* '' */
.sc-icon-menu > span:before {
  content: "\e811"; }

/* '' */
.sc-icon-check > span:before {
  content: "\e812"; }

/* '' */
.sc-icon-cancel > span:before {
  content: "\e813"; }

/* '' */
.sc-icon-cancel-circled > span:before {
  content: "\e814"; }

/* '' */
.sc-icon-cancel-squared > span:before {
  content: "\e815"; }

/* '' */
.sc-icon-plus > span:before {
  content: "\e816"; }

/* '' */
.sc-icon-plus-circled > span:before {
  content: "\e817"; }

/* '' */
.sc-icon-plus-squared > span:before {
  content: "\e818"; }

/* '' */
.sc-icon-minus > span:before {
  content: "\e819"; }

/* '' */
.sc-icon-minus-circled > span:before {
  content: "\e81a"; }

/* '' */
.sc-icon-minus-squared > span:before {
  content: "\e81b"; }

/* '' */
.sc-icon-help > span:before {
  content: "\e81c"; }

/* '' */
.sc-icon-help-circled > span:before {
  content: "\e81d"; }

/* '' */
.sc-icon-info > span:before {
  content: "\e81e"; }

/* '' */
.sc-icon-info-circled > span:before {
  content: "\e81f"; }

/* '' */
.sc-icon-back > span:before {
  content: "\e820"; }

/* '' */
.sc-icon-home > span:before {
  content: "\e821"; }

/* '' */
.sc-icon-link > span:before {
  content: "\e822"; }

/* '' */
.sc-icon-attach > span:before {
  content: "\e823"; }

/* '' */
.sc-icon-lock > span:before {
  content: "\e824"; }

/* '' */
.sc-icon-lock-open > span:before {
  content: "\e825"; }

/* '' */
.sc-icon-eye > span:before {
  content: "\e826"; }

/* '' */
.sc-icon-tag > span:before {
  content: "\e827"; }

/* '' */
.sc-icon-bookmark > span:before {
  content: "\e828"; }

/* '' */
.sc-icon-bookmarks > span:before {
  content: "\e829"; }

/* '' */
.sc-icon-flag > span:before {
  content: "\e82a"; }

/* '' */
.sc-icon-thumbs-up > span:before {
  content: "\e82b"; }

/* '' */
.sc-icon-thumbs-down > span:before {
  content: "\e82c"; }

/* '' */
.sc-icon-download > span:before {
  content: "\e82d"; }

/* '' */
.sc-icon-upload > span:before {
  content: "\e82e"; }

/* '' */
.sc-icon-upload-cloud > span:before {
  content: "\e82f"; }

/* '' */
.sc-icon-reply > span:before {
  content: "\e830"; }

/* '' */
.sc-icon-reply-all > span:before {
  content: "\e831"; }

/* '' */
.sc-icon-forward > span:before {
  content: "\e832"; }

/* '' */
.sc-icon-quote > span:before {
  content: "\e833"; }

/* '' */
.sc-icon-code > span:before {
  content: "\e834"; }

/* '' */
.sc-icon-export > span:before {
  content: "\e835"; }

/* '' */
.sc-icon-pencil > span:before {
  content: "\e836"; }

/* '' */
.sc-icon-feather > span:before {
  content: "\e837"; }

/* '' */
.sc-icon-print > span:before {
  content: "\e838"; }

/* '' */
.sc-icon-retweet > span:before {
  content: "\e839"; }

/* '' */
.sc-icon-keyboard > span:before {
  content: "\e83a"; }

/* '' */
.sc-icon-comment > span:before {
  content: "\e83b"; }

/* '' */
.sc-icon-chat > span:before {
  content: "\e83c"; }

/* '' */
.sc-icon-bell > span:before {
  content: "\e83d"; }

/* '' */
.sc-icon-attention > span:before {
  content: "\e83e"; }

/* '' */
.sc-icon-alert > span:before {
  content: "\e83f"; }

/* '' */
.sc-icon-vcard > span:before {
  content: "\e840"; }

/* '' */
.sc-icon-address > span:before {
  content: "\e841"; }

/* '' */
.sc-icon-location > span:before {
  content: "\e842"; }

/* '' */
.sc-icon-map > span:before {
  content: "\e843"; }

/* '' */
.sc-icon-direction > span:before {
  content: "\e844"; }

/* '' */
.sc-icon-compass > span:before {
  content: "\e845"; }

/* '' */
.sc-icon-cup > span:before {
  content: "\e846"; }

/* '' */
.sc-icon-trash > span:before {
  content: "\e847"; }

/* '' */
.sc-icon-doc > span:before {
  content: "\e848"; }

/* '' */
.sc-icon-docs > span:before {
  content: "\e849"; }

/* '' */
.sc-icon-doc-landscape > span:before {
  content: "\e84a"; }

/* '' */
.sc-icon-doc-text > span:before {
  content: "\e84b"; }

/* '' */
.sc-icon-doc-text-inv > span:before {
  content: "\e84c"; }

/* '' */
.sc-icon-newspaper > span:before {
  content: "\e84d"; }

/* '' */
.sc-icon-book-open > span:before {
  content: "\e84e"; }

/* '' */
.sc-icon-book > span:before {
  content: "\e84f"; }

/* '' */
.sc-icon-folder > span:before {
  content: "\e850"; }

/* '' */
.sc-icon-archive > span:before {
  content: "\e851"; }

/* '' */
.sc-icon-box > span:before {
  content: "\e852"; }

/* '' */
.sc-icon-rss > span:before {
  content: "\e853"; }

/* '' */
.sc-icon-phone > span:before {
  content: "\e854"; }

/* '' */
.sc-icon-cog > span:before {
  content: "\e855"; }

/* '' */
.sc-icon-tools > span:before {
  content: "\e856"; }

/* '' */
.sc-icon-share > span:before {
  content: "\e857"; }

/* '' */
.sc-icon-shareable > span:before {
  content: "\e858"; }

/* '' */
.sc-icon-basket > span:before {
  content: "\e859"; }

/* '' */
.sc-icon-bag > span:before {
  content: "\e85a"; }

/* '' */
.sc-icon-calendar > span:before {
  content: "\e85b"; }

/* '' */
.sc-icon-login > span:before {
  content: "\e85c"; }

/* '' */
.sc-icon-logout > span:before {
  content: "\e85d"; }

/* '' */
.sc-icon-mic > span:before {
  content: "\e85e"; }

/* '' */
.sc-icon-mute > span:before {
  content: "\e85f"; }

/* '' */
.sc-icon-sound > span:before {
  content: "\e860"; }

/* '' */
.sc-icon-volume > span:before {
  content: "\e861"; }

/* '' */
.sc-icon-clock > span:before {
  content: "\e862"; }

/* '' */
.sc-icon-hourglass > span:before {
  content: "\e863"; }

/* '' */
.sc-icon-lamp > span:before {
  content: "\e864"; }

/* '' */
.sc-icon-light-down > span:before {
  content: "\e865"; }

/* '' */
.sc-icon-light-up > span:before {
  content: "\e866"; }

/* '' */
.sc-icon-adjust > span:before {
  content: "\e867"; }

/* '' */
.sc-icon-block > span:before {
  content: "\e868"; }

/* '' */
.sc-icon-resize-full > span:before {
  content: "\e869"; }

/* '' */
.sc-icon-resize-small > span:before {
  content: "\e86a"; }

/* '' */
.sc-icon-popup > span:before {
  content: "\e86b"; }

/* '' */
.sc-icon-publish > span:before {
  content: "\e86c"; }

/* '' */
.sc-icon-window > span:before {
  content: "\e86d"; }

/* '' */
.sc-icon-arrow-combo > span:before {
  content: "\e86e"; }

/* '' */
.sc-icon-down-circled > span:before {
  content: "\e86f"; }

/* '' */
.sc-icon-left-circled > span:before {
  content: "\e870"; }

/* '' */
.sc-icon-right-circled > span:before {
  content: "\e871"; }

/* '' */
.sc-icon-up-circled > span:before {
  content: "\e872"; }

/* '' */
.sc-icon-down-open > span:before {
  content: "\e873"; }

/* '' */
.sc-icon-left-open > span:before {
  content: "\e874"; }

/* '' */
.sc-icon-right-open > span:before {
  content: "\e875"; }

/* '' */
.sc-icon-up-open > span:before {
  content: "\e876"; }

/* '' */
.sc-icon-down-open-mini > span:before {
  content: "\e877"; }

/* '' */
.sc-icon-left-open-mini > span:before {
  content: "\e878"; }

/* '' */
.sc-icon-right-open-mini > span:before {
  content: "\e879"; }

/* '' */
.sc-icon-up-open-mini > span:before {
  content: "\e87a"; }

/* '' */
.sc-icon-down-open-big > span:before {
  content: "\e87b"; }

/* '' */
.sc-icon-left-open-big > span:before {
  content: "\e87c"; }

/* '' */
.sc-icon-right-open-big > span:before {
  content: "\e87d"; }

/* '' */
.sc-icon-up-open-big > span:before {
  content: "\e87e"; }

/* '' */
.sc-icon-down > span:before {
  content: "\e87f"; }

/* '' */
.sc-icon-left > span:before {
  content: "\e880"; }

/* '' */
.sc-icon-right > span:before {
  content: "\e881"; }

/* '' */
.sc-icon-up > span:before {
  content: "\e882"; }

/* '' */
.sc-icon-down-dir > span:before {
  content: "\e883"; }

/* '' */
.sc-icon-left-dir > span:before {
  content: "\e884"; }

/* '' */
.sc-icon-right-dir > span:before {
  content: "\e885"; }

/* '' */
.sc-icon-up-dir > span:before {
  content: "\e886"; }

/* '' */
.sc-icon-down-bold > span:before {
  content: "\e887"; }

/* '' */
.sc-icon-left-bold > span:before {
  content: "\e888"; }

/* '' */
.sc-icon-right-bold > span:before {
  content: "\e889"; }

/* '' */
.sc-icon-up-bold > span:before {
  content: "\e88a"; }

/* '' */
.sc-icon-down-thin > span:before {
  content: "\e88b"; }

/* '' */
.sc-icon-left-thin > span:before {
  content: "\e88c"; }

/* '' */
.sc-icon-right-thin > span:before {
  content: "\e88d"; }

/* '' */
.sc-icon-note-beamed > span:before {
  content: "\e800"; }

/* '' */
.sc-icon-ccw > span:before {
  content: "\e88f"; }

/* '' */
.sc-icon-cw > span:before {
  content: "\e890"; }

/* '' */
.sc-icon-arrows-ccw > span:before {
  content: "\e891"; }

/* '' */
.sc-icon-level-down > span:before {
  content: "\e892"; }

/* '' */
.sc-icon-level-up > span:before {
  content: "\e893"; }

/* '' */
.sc-icon-shuffle > span:before {
  content: "\e894"; }

/* '' */
.sc-icon-loop > span:before {
  content: "\e895"; }

/* '' */
.sc-icon-switch > span:before {
  content: "\e896"; }

/* '' */
.sc-icon-play > span:before {
  content: "\e897"; }

/* '' */
.sc-icon-stop > span:before {
  content: "\e898"; }

/* '' */
.sc-icon-pause > span:before {
  content: "\e899"; }

/* '' */
.sc-icon-record > span:before {
  content: "\e89a"; }

/* '' */
.sc-icon-to-end > span:before {
  content: "\e89b"; }

/* '' */
.sc-icon-to-start > span:before {
  content: "\e89c"; }

/* '' */
.sc-icon-fast-forward > span:before {
  content: "\e89d"; }

/* '' */
.sc-icon-fast-backward > span:before {
  content: "\e89e"; }

/* '' */
.sc-icon-progress-0 > span:before {
  content: "\e89f"; }

/* '' */
.sc-icon-progress-1 > span:before {
  content: "\e8a0"; }

/* '' */
.sc-icon-progress-2 > span:before {
  content: "\e8a1"; }

/* '' */
.sc-icon-progress-3 > span:before {
  content: "\e8a2"; }

/* '' */
.sc-icon-target > span:before {
  content: "\e8a3"; }

/* '' */
.sc-icon-palette > span:before {
  content: "\e8a4"; }

/* '' */
.sc-icon-list > span:before {
  content: "\e8a5"; }

/* '' */
.sc-icon-list-add > span:before {
  content: "\e8a6"; }

/* '' */
.sc-icon-signal > span:before {
  content: "\e8a7"; }

/* '' */
.sc-icon-trophy > span:before {
  content: "\e8a8"; }

/* '' */
.sc-icon-battery > span:before {
  content: "\e8a9"; }

/* '' */
.sc-icon-back-in-time > span:before {
  content: "\e8aa"; }

/* '' */
.sc-icon-monitor > span:before {
  content: "\e8ab"; }

/* '' */
.sc-icon-mobile > span:before {
  content: "\e8ac"; }

/* '' */
.sc-icon-network > span:before {
  content: "\e8ad"; }

/* '' */
.sc-icon-cd > span:before {
  content: "\e8ae"; }

/* '' */
.sc-icon-inbox > span:before {
  content: "\e8af"; }

/* '' */
.sc-icon-install > span:before {
  content: "\e8b0"; }

/* '' */
.sc-icon-globe > span:before {
  content: "\e8b1"; }

/* '' */
.sc-icon-cloud > span:before {
  content: "\e8b2"; }

/* '' */
.sc-icon-cloud-thunder > span:before {
  content: "\e8b3"; }

/* '' */
.sc-icon-flash > span:before {
  content: "\e8b4"; }

/* '' */
.sc-icon-moon > span:before {
  content: "\e8b5"; }

/* '' */
.sc-icon-flight > span:before {
  content: "\e8b6"; }

/* '' */
.sc-icon-paper-plane > span:before {
  content: "\e8b7"; }

/* '' */
.sc-icon-leaf > span:before {
  content: "\e8b8"; }

/* '' */
.sc-icon-lifebuoy > span:before {
  content: "\e8b9"; }

/* '' */
.sc-icon-mouse > span:before {
  content: "\e8ba"; }

/* '' */
.sc-icon-briefcase > span:before {
  content: "\e8bb"; }

/* '' */
.sc-icon-suitcase > span:before {
  content: "\e8bc"; }

/* '' */
.sc-icon-dot > span:before {
  content: "\e8bd"; }

/* '' */
.sc-icon-dot-2 > span:before {
  content: "\e8be"; }

/* '' */
.sc-icon-dot-3 > span:before {
  content: "\e8bf"; }

/* '' */
.sc-icon-brush > span:before {
  content: "\e8c0"; }

/* '' */
.sc-icon-magnet > span:before {
  content: "\e8c1"; }

/* '' */
.sc-icon-infinity > span:before {
  content: "\e8c2"; }

/* '' */
.sc-icon-erase > span:before {
  content: "\e8c3"; }

/* '' */
.sc-icon-chart-pie > span:before {
  content: "\e8c4"; }

/* '' */
.sc-icon-chart-line > span:before {
  content: "\e8c5"; }

/* '' */
.sc-icon-chart-bar > span:before {
  content: "\e8c6"; }

/* '' */
.sc-icon-chart-area > span:before {
  content: "\e8c7"; }

/* '' */
.sc-icon-tape > span:before {
  content: "\e8c8"; }

/* '' */
.sc-icon-graduation-cap > span:before {
  content: "\e8c9"; }

/* '' */
.sc-icon-language > span:before {
  content: "\e8ca"; }

/* '' */
.sc-icon-ticket > span:before {
  content: "\e8cb"; }

/* '' */
.sc-icon-water > span:before {
  content: "\e8cc"; }

/* '' */
.sc-icon-droplet > span:before {
  content: "\e8cd"; }

/* '' */
.sc-icon-air > span:before {
  content: "\e8ce"; }

/* '' */
.sc-icon-credit-card > span:before {
  content: "\e8cf"; }

/* '' */
.sc-icon-floppy > span:before {
  content: "\e8d0"; }

/* '' */
.sc-icon-clipboard > span:before {
  content: "\e8d1"; }

/* '' */
.sc-icon-megaphone > span:before {
  content: "\e8d2"; }

/* '' */
.sc-icon-database > span:before {
  content: "\e8d3"; }

/* '' */
.sc-icon-drive > span:before {
  content: "\e8d4"; }

/* '' */
.sc-icon-bucket > span:before {
  content: "\e8d5"; }

/* '' */
.sc-icon-thermometer > span:before {
  content: "\e8d6"; }

/* '' */
.sc-icon-key > span:before {
  content: "\e8d7"; }

/* '' */
.sc-icon-flow-cascade > span:before {
  content: "\e8d8"; }

/* '' */
.sc-icon-flow-branch > span:before {
  content: "\e8d9"; }

/* '' */
.sc-icon-flow-tree > span:before {
  content: "\e8da"; }

/* '' */
.sc-icon-flow-line > span:before {
  content: "\e8db"; }

/* '' */
.sc-icon-flow-parallel > span:before {
  content: "\e8dc"; }

/* '' */
.sc-icon-rocket > span:before {
  content: "\e8dd"; }

/* '' */
.sc-icon-gauge > span:before {
  content: "\e8de"; }

/* '' */
.sc-icon-traffic-cone > span:before {
  content: "\e8df"; }

/* '' */
.sc-icon-cc > span:before {
  content: "\e8e0"; }

/* '' */
.sc-icon-cc-by > span:before {
  content: "\e8e1"; }

/* '' */
.sc-icon-cc-nc > span:before {
  content: "\e8e2"; }

/* '' */
.sc-icon-cc-nc-eu > span:before {
  content: "\e8e3"; }

/* '' */
.sc-icon-cc-nc-jp > span:before {
  content: "\e8e4"; }

/* '' */
.sc-icon-cc-sa > span:before {
  content: "\e8e5"; }

/* '' */
.sc-icon-cc-nd > span:before {
  content: "\e8e6"; }

/* '' */
.sc-icon-cc-pd > span:before {
  content: "\e8e7"; }

/* '' */
.sc-icon-cc-zero > span:before {
  content: "\e8e8"; }

/* '' */
.sc-icon-cc-share > span:before {
  content: "\e8e9"; }

/* '' */
.sc-icon-cc-remix > span:before {
  content: "\e8ea"; }

/* '' */
.sc-icon-github > span:before {
  content: "\e8eb"; }

/* '' */
.sc-icon-github-circled > span:before {
  content: "\e8ec"; }

/* '' */
.sc-icon-flickr > span:before {
  content: "\e8ed"; }

/* '' */
.sc-icon-flickr-circled > span:before {
  content: "\e8ee"; }

/* '' */
.sc-icon-vimeo > span:before {
  content: "\e8ef"; }

/* '' */
.sc-icon-vimeo-circled > span:before {
  content: "\e8f0"; }

/* '' */
.sc-icon-twitter > span:before {
  content: "\e8f1"; }

/* '' */
.sc-icon-twitter-circled > span:before {
  content: "\e8f2"; }

/* '' */
.sc-icon-facebook > span:before {
  content: "\e8f3"; }

/* '' */
.sc-icon-facebook-circled > span:before {
  content: "\e8f4"; }

/* '' */
.sc-icon-facebook-squared > span:before {
  content: "\e8f5"; }

/* '' */
.sc-icon-gplus > span:before {
  content: "\e8f6"; }

/* '' */
.sc-icon-gplus-circled > span:before {
  content: "\e8f7"; }

/* '' */
.sc-icon-pinterest > span:before {
  content: "\e8f8"; }

/* '' */
.sc-icon-pinterest-circled > span:before {
  content: "\e8f9"; }

/* '' */
.sc-icon-tumblr > span:before {
  content: "\e8fa"; }

/* '' */
.sc-icon-tumblr-circled > span:before {
  content: "\e8fb"; }

/* '' */
.sc-icon-linkedin > span:before {
  content: "\e8fc"; }

/* '' */
.sc-icon-linkedin-circled > span:before {
  content: "\e8fd"; }

/* '' */
.sc-icon-dribbble > span:before {
  content: "\e8fe"; }

/* '' */
.sc-icon-dribbble-circled > span:before {
  content: "\e8ff"; }

/* '' */
.sc-icon-stumbleupon > span:before {
  content: "\e900"; }

/* '' */
.sc-icon-stumbleupon-circled > span:before {
  content: "\e901"; }

/* '' */
.sc-icon-lastfm > span:before {
  content: "\e902"; }

/* '' */
.sc-icon-lastfm-circled > span:before {
  content: "\e903"; }

/* '' */
.sc-icon-rdio > span:before {
  content: "\e904"; }

/* '' */
.sc-icon-rdio-circled > span:before {
  content: "\e905"; }

/* '' */
.sc-icon-spotify > span:before {
  content: "\e906"; }

/* '' */
.sc-icon-spotify-circled > span:before {
  content: "\e907"; }

/* '' */
.sc-icon-qq > span:before {
  content: "\e908"; }

/* '' */
.sc-icon-instagram > span:before {
  content: "\e909"; }

/* '' */
.sc-icon-dropbox > span:before {
  content: "\e90a"; }

/* '' */
.sc-icon-evernote > span:before {
  content: "\e90b"; }

/* '' */
.sc-icon-flattr > span:before {
  content: "\e90c"; }

/* '' */
.sc-icon-skype > span:before {
  content: "\e90d"; }

/* '' */
.sc-icon-skype-circled > span:before {
  content: "\e90e"; }

/* '' */
.sc-icon-renren > span:before {
  content: "\e90f"; }

/* '' */
.sc-icon-sina-weibo > span:before {
  content: "\e910"; }

/* '' */
.sc-icon-paypal > span:before {
  content: "\e911"; }

/* '' */
.sc-icon-picasa > span:before {
  content: "\e912"; }

/* '' */
.sc-icon-soundcloud > span:before {
  content: "\e913"; }

/* '' */
.sc-icon-mixi > span:before {
  content: "\e914"; }

/* '' */
.sc-icon-behance > span:before {
  content: "\e915"; }

/* '' */
.sc-icon-google-circles > span:before {
  content: "\e916"; }

/* '' */
.sc-icon-vkontakte > span:before {
  content: "\e917"; }

/* '' */
.sc-icon-smashing > span:before {
  content: "\e91b"; }

/* '' */
.sc-icon-sweden > span:before {
  content: "\e91a"; }

/* '' */
.sc-icon-db-shape > span:before {
  content: "\e919"; }

/* '' */
.sc-icon-up-thin > span:before {
  content: "\e88e"; }

/* '' */
/* GENERAL STYLES
 */
.slider_captcha {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #a3a3a3;
  background: #eeeeee;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 46px;
  padding: 0;
  -moz-border-top-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .slider_captcha span {
    cursor: default;
    position: relative;
    line-height: 46px; }
  .slider_captcha > span {
    margin: 0 auto; }

.swipe-knob {
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  width: 46px;
  height: 46px;
  background-color: #72d5ee;
  color: white;
  -moz-border-top-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  .swipe-knob:not(.type_filled)[class*=" sc-icon-"] > span:after {
    display: none; }
  .swipe-knob:not(.type_filled) span {
    display: table;
    width: 100%;
    height: 100%;
    cursor: move; }
    .swipe-knob:not(.type_filled) span:after {
      font-family: "sc_fontello";
      font-size: 18px;
      content: "\e875";
      cursor: move; }
  .swipe-knob:not(.type_filled).swipe_ended {
    background-color: #868d8f;
    right: 0;
    cursor: auto; }
    .swipe-knob:not(.type_filled).swipe_ended span {
      width: 100%;
      height: 100%; }
      .swipe-knob:not(.type_filled).swipe_ended span[class*=" sc-icon-"]:after {
        display: none; }
      .swipe-knob:not(.type_filled).swipe_ended span:after {
        content: "\e812"; }
  .swipe-knob.type_filled {
    left: 46px;
    margin-left: -100%;
    width: 100%;
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .swipe-knob.type_filled[class*=" sc-icon-"] span {
      position: absolute;
      right: 19px;
      top: 0;
      cursor: move; }
      .swipe-knob.type_filled[class*=" sc-icon-"] span:after {
        display: none; }
      .swipe-knob.type_filled[class*=" sc-icon-"] span:before {
        display: block;
        vertical-align: none; }
    .swipe-knob.type_filled span {
      position: absolute;
      right: 19px;
      top: 0;
      cursor: move; }
      .swipe-knob.type_filled span:after {
        font-family: "sc_fontello";
        font-size: 18px;
        content: "\e875"; }
    .swipe-knob.type_filled.swipe_ended {
      background-color: #868d8f;
      right: 0;
      cursor: auto; }
      .swipe-knob.type_filled.swipe_ended span:after {
        content: "\e812"; }

.knob-destiny {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px; }
