element.style {
    height: auto;
    /* top: 10px; */
    color: #000;
}
header.header_newstyle {
    /* background: 0 0; */
    /* border-bottom: 1px solid rgba(255,255,255,.12); */
    /* height: auto!important; */
    /* box-shadow: none; */
    /* z-index: 99999!important; */
}
header {
    width: 100%;
    background: #fff;
    color: #000;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 62px!important;
    /* padding-top: 12px; */
    transition: all 1s ease 0;
    -moz-transition: all 1s ease 0;
    -webkit-transition: all 1s ease 0;
    -ms-transition: all 1s ease 0;
    /* box-shadow: 0 1px 1px #e9e9e9; */
    /* -webkit-box-shadow: 0 1px 1px #e9e9e9; */
    -moz-box-shadow: 0 1px 1px #e9e9e9;
    -ms-box-shadow: 0 1px 1px #e9e9e9;
}
article, aside, details, figcaption, figure, footer, header, hgroup, ins, mark, nav, section, small, summary, title, video {
    /* display: block; */
}